.imagination {
  width: 600px;
  height: 350px;
  min-width: auto;
  min-height: auto;
  max-height: 500px;
  max-width: 900px;
  margin: 10px;
  z-index: 10;
  position: relative;
}
.imagination:hover{
  opacity: 50%;
  transition: opacity .5s
}
.hello {
  display: inline; justify-content: center; margin: auto;
}
.divImage {
  margin: 0; justify-content: center; display: inline-block; width: 100%; float: left;
}
.forTitle{
  display: flex; justify-content: center; margin: auto
}
.thisText{
  justify-content: center;
  text-align: center;
  width: 600px;
  height: 350px;
  margin: auto;
  font-size: 50px;
  position: absolute;
  display: block;
  top: 0px;
  line-height: 350px;
  z-index: 0;
}
.thisDiv{
  display: inline-block; vertical-align: middle;
  float: left;
  position: relative;
}