<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="blocks/heads :: heads">
    <title>Главная страница</title>
</head>
<style>
    .hello {display: flex; justify-content: center; margin-top: 30px}
</style>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="hello">
<h3 th:text="${title}"/>
</div>
<div>
    <img src="/static/pic/barber.jpg" alt="err"/>
    <img src="/static/pic/clinic.jpg" alt="err"/>
    <img src="/static/pic/maniqure.jpeg" alt="err"/>
    <img src="/static/pic/massage.jpg" alt="err"/>
</div>
<header th:insert="blocks/footer :: footer"></header>
</body>
</html>