<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="blocks/heads :: heads">
    <title>Главная страница</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="forTitle">
<h3 th:text="${title}"/>
</div>
<div class="hello">
    <div class="divImage">
        <div class="thisDiv">
            <img class="imagination" th:src="@{~/static/pic/barber.jpg}">
            <p class="thisText">Барбершоп</p>
        </div>
        <div class="thisDiv">
            <img class="imagination" th:src="@{~/static/pic/hospital.jpg}">
            <p class="thisText">Прием врача</p>
        </div>
        <div class="thisDiv">
            <img class="imagination" th:src="@{~/static/pic/massage.jpg}">
            <p class="thisText">Массаж</p>
        </div>
        <div class="thisDiv">
            <img class="imagination" th:src="@{~/static/pic/maniqure.jpeg}">
            <p class="thisText">Маникюр</p>
        </div>
        <div class="thisDiv">
            <img class="imagination" th:src="@{~/static/pic/rep.jpg}">
            <p class="thisText">Репетитор</p>
        </div>
        <div class="thisDiv">
            <img class="imagination" th:src="@{~/static/pic/mask.jpg}">
            <p class="thisText">Салон красоты</p>
        </div>
    </div>
</div>
<header th:insert="blocks/footer :: footer"></header>
<div th:insert="blocks/scripts :: scripts"/>
</body>
</html>